MICROCMS_API_KEY=
MICROCMS_SERVICE_DOMAIN=
BASE_URL=
USE_DRAFT=true
GOOGLE_ADSENSE_PUBLISHER_ID=
GOOGLE_ADSENSE_SLOT_DISPLAY_HORIZONTAL=
GOOGLE_ADSENSE_SLOT_MULTIPLEX_HORIZONTAL=
# for draft (CSR)
NEXT_PUBLIC_MICROCMS_API_KEY=
NEXT_PUBLIC_MICROCMS_SERVICE_DOMAIN=
GA_ID=G-XYZ
INQUIRY_GOOGLE_FORM_URL=
IFRAMELY_PROXY_URL=
