.shareButtonList {
  /*TODO: margin は呼び出し側で設定する*/
  margin: 2rem 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.shareButtonWrapper {
  width: 64px;
  height: 64px;
  border-radius: 8px;
}
