.link {
  display: flex;
  gap: 40px;
}

.image {
  width: 240px;
  height: auto;
  border: 1px solid rgb(222,222,222);
  box-shadow: rgba(0, 0, 0, 0.06) 0 1px 3px;
}

.noImage {
  width: 240px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #808080
}

.title {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

@media (max-width: 640px) {
  .link {
    display: block;
  }

  .image {
    width: 100%;
    height: auto;
  }

  .noImage {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
  }
}
