@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .alert-info {
    @apply bg-blue-100 border-blue-500 text-blue-700 py-4 pr-4 pl-12 rounded-lg flex items-center relative;
  }
  .alert-info::before {
    @apply content-[""] inline-block w-5 h-5 bg-blue-700 absolute left-4;
    mask-image: url(~lucide-static/icons/info.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }
  .alert-tip {
    @apply bg-teal-100 border-teal-500 text-teal-700 py-4 pr-4 pl-12 rounded-lg flex items-center relative;
  }
  .alert-tip::before {
    @apply content-[""] inline-block w-5 h-5 bg-teal-700 absolute left-4;
    mask-image: url(~lucide-static/icons/lightbulb.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }
  .alert-warn {
    @apply bg-orange-100 border-orange-500 text-orange-700 py-4 pr-4 pl-12 rounded-lg flex items-center relative;
  }
  .alert-warn::before {
    @apply content-[""] inline-block w-5 h-5 bg-orange-700 absolute left-4;
    mask-image: url(~lucide-static/icons/triangle-alert.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }

  .marker {
    @apply bg-yellow-200;
  }
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
  --color-text-main: #333;
  --color-text-sub: #666;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #818b981f;
  --color-bg-code-block: #f6f8fa;
  --color-border-dark: #ccc;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    YuGothic,
    'ヒラギノ角ゴ ProN W3',
    Hiragino Kaku Gothic ProN,
    Arial,
    'メイリオ',
    Meiryo,
    sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;
}

code {
  font-family: menlo, inconsolata, monospace;
}

iframe {
  border-radius: var(--border-radius);
}

div.table-wrapper {
  @apply relative overflow-x-auto shadow-sm rounded-xl
}
div.table-wrapper > table {
  @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400
}
div.table-wrapper > table th {
  @apply px-4 py-2
}
div.table-wrapper > table td {
  @apply px-4 py-2
}
div.table-wrapper > table tr:first-of-type {
  @apply text-xs text-gray-700 uppercase bg-gray-50
}
div.table-wrapper > table tr:not(:first-of-type) {
  @apply bg-white border-b border-gray-200
}

