@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .alert-warn {
    @apply bg-orange-100 border-orange-500 text-orange-700 p-4 rounded-md flex items-center;
  }
  .alert-warn::before {
    @apply content-[""] inline-block w-5 h-5 bg-orange-700 mr-2;
    mask-image: url(~lucide-static/icons/triangle-alert.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }
  .alert-info {
    @apply bg-teal-100 border-teal-500 text-teal-900 p-4 rounded-md flex items-center
  }
  .alert-info::before {
    @apply content-[""] inline-block w-5 h-5 bg-teal-900 mr-2;
    mask-image: url(~lucide-static/icons/info.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
  --color-text-main: #333;
  --color-text-sub: #666;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #818b981f;
  --color-bg-code-block: #f6f8fa;
  --color-border-dark: #ccc;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    YuGothic,
    'ヒラギノ角ゴ ProN W3',
    Hiragino Kaku Gothic ProN,
    Arial,
    'メイリオ',
    Meiryo,
    sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;
}

code {
  font-family: menlo, inconsolata, monospace;
}
