@import 'tailwindcss';

@theme {
  --default-ring-width: 3px;
  --default-ring-color: var(--color-blue-500);
}

@utility alert-info {
  @apply bg-blue-100 border-blue-500 text-blue-700 py-4 pr-4 pl-12 rounded-lg flex items-center relative;
  &::before {
    @apply content-[""] inline-block w-5 h-5 bg-blue-700 absolute left-4;
    mask-image: url(lucide-static/icons/info.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }
}

@utility alert-tip {
  @apply bg-teal-100 border-teal-500 text-teal-700 py-4 pr-4 pl-12 rounded-lg flex items-center relative;
  &::before {
    @apply content-[""] inline-block w-5 h-5 bg-teal-700 absolute left-4;
    mask-image: url(lucide-static/icons/lightbulb.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }
}
@utility alert-warn {
  @apply bg-orange-100 border-orange-500 text-orange-700 py-4 pr-4 pl-12 rounded-lg flex items-center relative;
  &::before {
    @apply content-[""] inline-block w-5 h-5 bg-orange-700 absolute left-4;
    mask-image: url(lucide-static/icons/triangle-alert.svg);
    mask-size: 1.25rem;
    mask-repeat: no-repeat;
  }
}

@utility marker {
  @apply bg-yellow-200;
}

@utility table-wrapper {
  @apply relative overflow-x-auto shadow-xs rounded-lg;
  table {
    @apply w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400;
    th,
    td {
      @apply px-4 py-2;
    }
    tr:first-of-type {
      @apply text-xs text-gray-700 uppercase bg-gray-50;
    }
    tr:not(:first-of-type) {
      @apply bg-white border-b border-gray-200;
    }
  }
}

@utility link-text {
  @apply underline hover:no-underline active:no-underline active:bg-blue-100 active:md:bg-inherit;
}

/*TODO tailwind に移植*/
@utility content {
  *:first-child {
    margin-top: 0;
  }

  > h1 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid var(--color-border);
    margin: 2.8rem 0 1rem;
  }

  > h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 2.8em 0 1rem;
    @apply border-b border-l-8 border-gray-400 pl-4;
  }

  > h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
    @apply border-b border-gray-400 border-dashed;
  }

  > h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }

  > h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }

  > p {
    margin: 2rem 0 0.5rem;
    line-height: 2;
  }

  > pre {
    overflow-x: auto;
  }

  code {
    background-color: var(--color-bg-code);
    padding: 0.2em 0.4em;
    border-radius: 0.25rem;
  }

  pre > code {
    background-color: var(--color-bg-code-block);
    display: block;
    overflow-x: auto;
    padding: 1rem;
    border-radius: var(--border-radius);
  }

  [data-filename] code {
    border-top-left-radius: unset;
  }

  div[data-filename]::before {
    display: inline-block;
    background-color: var(--color-bg-sub);
    content: attr(data-filename);
    margin: 1em 0 0;
    font-family: menlo, inconsolata, monospace;
    font-size: 0.8rem;
    padding: 4px 16px;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }

  ul,
  ol {
    margin: 0.5rem 0 0.5rem 2rem;
  }

  > ul,
  > ol {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  ul > li {
    list-style: disc;
  }

  ol > li {
    list-style: decimal;
  }

  li {
    margin: 0.5rem 0;
  }

  a {
    @apply link-text;
  }

  > figure {
    margin: 2rem 0;
    text-align: center;
  }

  > figure img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    border: 1px solid rgb(222, 222, 222);
    box-shadow: rgba(0, 0, 0, 0.06) 0 1px 3px;
  }

  > figure figcaption {
    font-size: 0.8rem;
    color: var(--color-text-sub);
  }

  > strong {
    font-weight: bold;
  }

  > blockquote {
    border-left: 4px solid var(--color-border);
    padding-left: 1rem;
    font-style: italic;
    margin: 2rem 0;
  }

  > hr {
    margin: 1.5rem 0;
    height: 1px;
    background-color: var(--color-border);
    border: none;
  }
}

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;
  --color-text-main: #333;
  --color-text-sub: #666;
  --color-bg-main: #fff;
  --color-bg-sub: #f3f3f3;
  --color-bg-code: #818b981f;
  --color-bg-code-block: #f6f8fa;
  --color-border-dark: #ccc;
  --color-border: #ddd;
  --color-border-light: #f3f3f3;
  --color-current: #eee;
  --border-radius: 0.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Helvetica Neue',
    YuGothic,
    'ヒラギノ角ゴ ProN W3',
    Hiragino Kaku Gothic ProN,
    Arial,
    'メイリオ',
    Meiryo,
    sans-serif;
  color: var(--color-text-main);
  line-height: 1.8;
}

code {
  font-family: menlo, inconsolata, monospace;
}

/* 広告にも適用されていて怒られそうなので緊急で外す
iframe {
  border-radius: var(--border-radius);
}
*/
