.header {
  padding: 4px 8px 8px;
}

.logo {
  height: 48px;
  width: auto;
}

.menuButton {
  border: none;
  background: none;
}

@media (min-width: 641px) {
  .menuButton {
    display: none;
  }
  .menu {
    display: none;
  }
}
