.header {
  padding: 4px 8px 8px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 208px;
  height: 48px;
  vertical-align: top;
}

.menuButton {
  border: none;
  background: none;
  margin-right: 1rem;
}

@media (min-width: 641px) {
  .menuButton {
    display: none;
  }
  .menu {
    display: none;
  }
}
