on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - reopened
      - synchronize

jobs:
  check-license:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v6.0.2
      - uses: pnpm/action-setup@v4.2.0
      # NOTE: Next 15.3.1 時点、 optionalDependencies の LGPL3.0 の sharp が入ってしまう(使ってない)
      - name: check licenses
        run: |
          set -euo pipefail
          ! pnpm licenses ls --prod --no-optional | grep -q GPL
        continue-on-error: false
