on:
  workflow_dispatch:

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v6.0.2
      - uses: pnpm/action-setup@v4.2.0
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: ${{ secrets.DEPLOYMENT_ROLE_ARN_STG }}
          role-session-name: deploy
          aws-region: us-east-1
      - name: install
        run: pnpm i
      - name: build
        run: pnpm frontend build
        env:
          MICROCMS_API_KEY: ${{ secrets.MICROCMS_API_KEY }}
          MICROCMS_SERVICE_DOMAIN: ${{ secrets.MICROCMS_SERVICE_DOMAIN }}
          BASE_URL: https://stg.${{ secrets.DOMAIN }}/
          USE_DRAFT: 'true'
          NEXT_PUBLIC_MICROCMS_API_KEY: ${{ secrets.MICROCMS_API_KEY }}
          NEXT_PUBLIC_MICROCMS_SERVICE_DOMAIN: ${{ secrets.MICROCMS_SERVICE_DOMAIN }}
          GA_ID: ${{ secrets.GA_ID_STG }}
          INQUIRY_GOOGLE_FORM_URL: ${{ secrets.INQUIRY_GOOGLE_FORM_URL_STG }}
          IFRAMELY_PROXY_URL: ${{ secrets.IFRAMELY_PROXY_URL_STG }}
      # TTLの短いキャッシュを設定する。
      # キャッシュ自体は行われ、 CloudFront-S3間ではETagに基づいた条件付きリクエストが行われ、更新されていなければキャッシュが活用される
      - name: Copy index.html to s3
        run: |
          aws s3 sync --delete --exclude '*.html' --exclude '*.txt' --exclude '*.xml' --exclude 'pagefind/*' ./out/ s3://${{ secrets.BUCKET_NAME_STG }}/ --cache-control max-age=600,public
          aws s3 sync --delete --exclude '*' --include '*.html' --include '*.txt' --include '*.xml' --include 'pagefind/*' ./out/ s3://${{ secrets.BUCKET_NAME_STG }}/ --cache-control max-age=60,public
        working-directory: template
